:root {
    /* spark-ui css variables control */

    /* secondary-button */
    --secondary-button-focus-outline-color: #fff;
    --secondary-button-bg-color: var(--secondary-color);
    --secondary-button-color: #000;
    --secondary-button-border: none;
    --secondary-button-border-radius: 0.3em;
    /* badge-on-button */
    --button-badge-bg-color: transparent;
    --button-badge-border: none;
    --badge2-bg-color: #dd1313;
    --badge2-border: none;
    /* warn-button */
    --warn-button-bg-color: transparent;
    --warn-button-border: 1px solid #000;
    --warn-button-border-radius: 0.3em;
}

a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 3.5rem;
}

.left-link {
    text-decoration: none;
    padding-left: 0.5em;

    /* flex-properties */
    display: flex;
    align-items: center;
    gap: 1em;
}

.center-container {
    width: max-content;
    max-width: 30%;

    /* flex-properties */
    display: flex;
    align-items: center;
}

.search-icon {
    cursor: pointer;
    background-color: #fff;
    padding: 0.185em;
    border: 1px solid #000;
    border-radius: 0.3em 0 0 0.3em;
    border-right: none;
    font-size: 1.5rem !important;
}

.search-input {
    font-size: 1rem;
    padding: 0.45em 1em;
    width: 30rem;
    border: 1px solid #000;
    border-radius: 0 0.3em 0.3em 0;
    max-width: 100%;
}

.navigation-right-buttons-container {
    align-items: center;
}

.navigation-button {
    border-radius: 0.3em;
    border: 1px solid #000;
    gap: 0.3em;
}

.navigation-button:hover {
    background-color: transparent;
}

.navigation-button-text {
    padding-right: 0.5em;
}

.navigation .button.button-secondary {
    font-size: 1.3rem;
    padding: 0.4em 0;
    margin-left: 0.5em;
}

.button.button-secondary:hover {
    background-color: var(--button-hover-color);
}

.navigation .button.button-warn {
    font-size: 1.3rem;
    /* padding: 0.3em 0; */
    /* margin-left: 0.8em; */
    padding: 0.3em 0.6em;
    margin-left: 0.2em;
}

.button.button-warn:hover {
    text-decoration: underline;
    text-decoration-color: #b91c1c;
}

.badge-button {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-left: 0.5em;

    /* flex-properties */
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.badge-badge2 {
    font-size: 1rem;
    font-weight: 500;
    width: 1.5rem;
    height: 1.5rem;
    right: -6%;
    top: -18%;
}

.login-signup-link {
    padding: 0.3em 0.6em;
}

.button.button-warn {
    color: #b91c1c;
}

@media screen and (max-width: 1100px) {
    .navigation-button-text,
    .navigation-title {
        display: none;
    }

    .badge-badge2 {
        font-size: 0.8rem;
        width: 1.3rem;
        height: 1.3rem;
    }

    .badge-button {
        margin-left: 0.2em;
    }

    .navigation .button.button-secondary {
        margin: 0.2em;
    }
}

@media screen and (max-width: 750px) {
    .search-input,
    .search-icon {
        display: none;
    }

    .logo {
        width: 3rem;
    }
}

@media screen and (max-width: 420px) {
    .navigation-standard
        .navigation-right-buttons-container
        .navigation-button:nth-child(1),
    .navigation-standard
        .navigation-right-buttons-container
        .navigation-button:nth-child(2) {
        display: flex;
    }

    .navigation-right-buttons-container {
        gap: 0.3em;
    }
}
